<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1033221744519-ke5f5m4musu7iufij3j27lqesm49ohii.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI6nHiT8e-qMlAFmjMjhPEFuQjoWbVcEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1033221744519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentTeacher</string>
	<key>PROJECT_ID</key>
	<string>student-31fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>student-31fa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033221744519:ios:007613591f29282bf21522</string>
	<key>DATABASE_URL</key>
	<string>https://student-31fa4-default-rtdb.firebaseio.com</string>
</dict>
</plist>