<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYqDpn1pKNm1SJW7mBgx7oFpwF44KhDsY</string>
	<key>GCM_SENDER_ID</key>
	<string>495066573169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>aerobic-theorem-250612</string>
	<key>STORAGE_BUCKET</key>
	<string>aerobic-theorem-250612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495066573169:ios:50e92ce28460fcd73f2ed0</string>
	<key>DATABASE_URL</key>
	<string>https://aerobic-theorem-250612.firebaseio.com</string>
</dict>
</plist>